.card {
        display: flex;
        align-items: center;
        border-radius: 5px;
        margin: 1rem;
        color: black;
}
.imgProductos {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-top: 1rem;
}
.colorBoton {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
    
}

.colorBoton:hover {
    background-color: grey;
    color: white;
}